html,
#root,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: -apple-system, 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-menu ul {
  display: flex;
  flex-basis: 400px;
  list-style: none;
  line-height: 2.7em;
  margin: 0;
}

.nav-menu ul li {
  margin-right: 10px;
  padding: 0 5px;
  cursor: pointer;
}

.nav-menu ul li:hover {
  transition: 0.2 ease;
  background: rgba(254, 252, 253, 0.9);
  border-radius: 10px;
}

.nav-tools {
  display: flex;
  align-items: center;
}

.search {
  background: rgba(254, 252, 253, 0.9);
  display: flex;
  padding: 0 10px;
  border-radius: 18px;
  align-items: center;
}

.search input {
  border: none;
  background: none;
  line-height: 2.5em;
  padding-left: 10px;
}

.search input:focus {
  transition: 0.3s ease;
  padding-left: 25px;
  outline: none;
}

.app-news-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

.App-header {
  background: rgba(223, 223, 223, 1);
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
}